article#anchor
	.p10
		h3.fw300.fsp26 Anchor
		p These styles set down the browser text decoration on hover, the outline and add a transition on hover
		a(href="javascript:void(0)") This is a simple anchor
	.p10
		code.html
			pre
				+scape()
					a(href="#") This is a simple anchor
