article#opacity-visibility
	header
		h3.fw300.fsp26 Opacity and visibility
	section
		article
			table.fw.table-striped.table-responsive
				thead
					tr
						th Class
						th Property
						th Value
				tbody
					tr
						td .o0
						td opacity
						td 0

					tr
						td .o25
						td opacity
						td 0.25
					tr
						td .o50
						td opacity
						td 0.50
					tr
						td .o75
						td opacity
						td 0.75
					tr
						td .o100
						td opacity
						td 1
					tr
						td .vh
						td visibility 
						td hidden
					tr
						td .vv
						td visibility 
						td visible
					tr
						td .vc
						td visibility 
						td collapse
					tr
						td .vu
						td visibility 
						td unset
		//- article
			.row.mt20.mb20
				.col.tac.p10.o0.bcp
					.cF Opacity 0%
				.col.tac.p10.o25.bcp
					.cF 25%
				.col.tac.p10.o50.bcp
					.cF 50%
				.col.tac.p10.o100.bcp
					.cF 100%
			code.html.mr0.ml0
				pre
					+scape()
						.o0 0%
						.o25 25%
						.o50 50%
						.o100 100%