article#position
	header
		h3.fw300.fsp26 Position
	section.p10
		article
			table.fw.table-striped.table-responsive
				thead
					tr
						th Class
						th Property
						th Value
				tbody
					tr
						td .pr
						td position
						td relative
					tr
						td .pa
						td position
						td absolute
					tr
						td .ps
						td position
						td static
					tr
						td .pf
						td position
						td fixed
					tr
						td .pu
						td position
						td unset
					each type, key in {t: 'top', l: 'left', r: 'right', b: 'bottom'}
						- var i = 0
						while i <= 50
							tr
								td .#{key + i}
								td= type
								td #{i}px
							- i+=5
