article#text
	header
		h3.fw300.fsp26 Text
	section.p10
		article
			table.fw.table-striped.table-responsive
				thead
					tr
						th Class
						th Value
						th Property
				tbody
					tr
						td .ttu
						td text-transform
						td uppercase
					tr
						td .ttl
						td text-transform
						td lowercase
					tr
						td .tac
						td text-align
						td center
					tr
						td .taj
						td text-align
						td justify
					tr
						td .tar
						td text-align
						td right
					tr
						td .tal
						td text-align
						td left
					tr
						td .i
						td font-style
						td italic
					tr
						td .o
						td font-style
						td oblique
					tr
						td .n
						td font-style
						td normal
					tr
						td .b
						td font-weight
						td bold
					tr
						td .tdu
						td text-decoration
						td underline
					tr
						td .tdo
						td text-decoration
						td overline
					tr
						td .tdlt
						td text-decoration
						td line-through
					tr
						td .tduo, .tdou
						td text-decoration
						td underline overline
					tr
						td .tduos, .tduso .tdous, .tdosu, .tdsou, .tdsuo
						td text-decoration
						td underline overline line-through
					tr
						td .tdss
						td text-decoration-style
						td solid
					tr
						td .tdsdo
						td text-decoration-style
						td dotted
					tr
						td .tdsda
						td text-decoration-style
						td dashed
					tr
						td .tdsw
						td text-decoration-style
						td wavy
		//- article
